.main_header .inner_header .right_header form input[type="text"] {
  padding: 5px;
  text-transform: capitalize;
}

.main_header .inner_header .right_header form input[type="submit"] {
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  background-color: #95a60a;
  border: 1px solid #e4dfc8;
  color: #ffffff;
  font-family: Verdana;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Georgia;
}

.main_header {
  background-color: #2a2925;
}

.main_header .inner_header {
  overflow: hidden;
}

.main_header .inner_header .left_header {
  float: left;
  margin: 30px 0;
}

.main_header .inner_header .right_header {
  float: right;
}

.main_header .inner_header .right_header form {
  text-align: right;
  margin-top: 20px;
  border: none;
}

.main_header .inner_header .right_header form input[type="text"] {
  width: 250px;
}

.main_header .inner_header .right_header form input[type="submit"] {
  width: 80px;
  margin-left: 10px;
}

.main_body {
  background-color: #95a60a;
  overflow: hidden;
}

.main_body .inner_body {
  overflow: hidden;
  margin-bottom: 30px;
}

.main_body .inner_body .body_left {
  float: left;
  width: 445px;
}

.main_body .inner_body .body_left .body_left_upper h2 {
  padding-top: 30px;
  padding-bottom: 12px;
  color: #ffffff;
  font-size: 37px;
}

.main_body .inner_body .body_left .body_left_upper p {
  font-size: 13px;
  color: #333333;
  font-family: Verdana;
  padding-bottom: 70px;
}

.main_body .inner_body .body_left .body_left_lower img {
  border: 1px solid black;
  padding: 6px;
  color: #333333;
}

.main_body .inner_body .body_right {
  float: right;
}

.main_body .inner_body .body_right .body_right_upper {
  margin-top: 30px;
}

.main_body .inner_body .body_right .body_right_upper ul li {
  display: inline-block;
  margin-left: 15px;
}

.main_body .inner_body .body_right .body_right_upper ul li img {
  border: 1px solid #333333;
  padding: 3px;
}

.main_body .inner_body .body_right .body_right_lower {
  float: right;
}

.main_body .inner_body .body_right .body_right_lower .body_child {
  margin-top: 60px;
  background-color: #333333;
  width: 485px;
  height: 255px;
  overflow: hidden;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_left {
  float: left;
  width: 250px;
  padding: 20px;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_left h4 {
  color: #ffffff;
  font-size: 16px;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_left p {
  margin-top: 15px;
  color: #e4dfc8;
  font-size: 14px;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_left a {
  float: right;
  font-size: 13px;
  background-color: #1e1e1e;
  color: #95a60a;
  padding: 5px;
  font-family: Verdana;
  margin-top: 42px;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_right {
  float: right;
  margin: 25px 0;
}

.main_body .inner_body .body_right .body_right_lower .body_child .child_right img {
  border: 1px solid #232323;
  padding: 4px;
  margin-right: 20px;
}

.main_header .inner_header .right_header nav {
  margin: 25px 0;
}

.main_header .inner_header .right_header nav ul li {
  display: inline-block;
  margin-left: 60px;
}

.main_header .inner_header .right_header nav ul li a {
  font-size: 13px;
  font-family: Verdana;
  color: #e4dfc8;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main_header .inner_header .right_header nav ul li a:hover {
  color: #95a60a;
  border-bottom: 1px solid #95a60a;
  padding-bottom: 7px;
}

.main_header .inner_header .right_header nav ul li:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */