.main_header {
    background-color: $header_color;
    .inner_header {
        overflow: hidden;
        margin: 0 auto;
        .left_header {
            float: left;
            margin: 30px 0;
        }
        .right_header {
            float: right;
            form {
                text-align: right;
                margin-top: 20px;
                border: none;
                input[type="text"] {
                    width: 250px;
                    @extend %input_text;
                }
                input[type="submit"] {
                    @extend %input_submit;
                    width: 80px;
                    margin-left: 10px;
                }
            }
            nav {
                @extend %navigation;
            }
        }
    }
}