%navigation { 
    margin: 25px 0;
        ul {
            li {
                display: inline-block;
                margin-left: 60px;
                a {
                    color: $nav_text_color;
                    text-transform: uppercase;
                    transition: 0.2s;
                    &:hover {
                        color: $primary_color;
                        border-bottom: 1px solid $primary_color;
                        padding-bottom: 7px;
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
}