%input_text {
    padding: 5px;
    text-transform: capitalize;
}

%input_submit {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    background-color: $primary_color;
    border: 1px solid $button_border_color;
    color: $button_text_color;
    font-family: Verdana;
    cursor: pointer;
}